<div class="auth-container">
  <div class="auth-form">
    <h2>Sign In</h2>

    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <!-- Email Input -->
      <div class="form-group">
        <label for="email">Full Name</label>
        <input type="email" id="fullName" class="form-control" [(ngModel)]="fullName" name="email" required placeholder="Enter your full name">
      </div>

      <!-- Email Input -->
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" required placeholder="Enter your email">
      </div>

      <!-- Password Input -->
      <div class="form-group mt-3">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required placeholder="Enter your password">
      </div>



      <!-- Sign In Button -->
      <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary btn-block mt-4">Sign Up</button>
    </form>

  </div>
</div>
